const images = [
  "images/claire1.jpg",
  "images/claire2.jpg",
  "images/claire3.jpg"
];

let i = 0;
const slide = document.getElementById("slide");

setInterval(() => {
  i = (i + 1) % images.length;
  slide.style.opacity = 0;
  setTimeout(() => {
    slide.src = images[i];
    slide.style.opacity = 1;
  }, 400);
}, 3000);
